header {

    width: 100%;
    height: 10vh;
    padding: 28px 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.774);
    border-bottom: 2px solid #e7ebef;
    font-weight: bold;
    font-size: 20px;
    position: fixed;

}

.logo{
    
    width: 20%;
    color: #f5f5f5;
}

.logo:hover{
    transition: 0.5s;
    color: gray;
}

.logo::before{
    content: "<";
    
    
}
.logo::after{
    content: "/>";
    
}


#navbar{
    width: 50%;
    color: #fafafa;
}

#nav-list {
    display: flex;
    transition: 0.5s;
    justify-content: center;
    gap: 30px;
    font-weight: 800;
}




/* From Uiverse.io by gagan-gv */ 
.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}