header {
    width: 100%;
    min-height: 10vh;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.774);
    border-bottom: 2px solid #e7ebef;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index: 2;
}


.logo {
    color: #ffffff;
    font-size: 1.5rem;
}

.logo:hover {
    color: gold;
    transition: 0.3s;
}

.logo::before {
    content: "<";
}

.logo::after {
    content: "/>";
}

#nav-list {
    display: flex;
    gap: 60px;
    list-style: none;
    
}

.nav-item a {
    color: #fff9f9;
    text-decoration: none;
}

.nav-item a:hover {
    color: gold;
    transition: 0.3s;
}


@media (max-width: 900px) {
    header {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    #nav-list {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nomeIcon{
        display: none;
    }
}
