body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: background-color 0.8s, color 0.8s;
    background-color: #ffffff;
    gap: 500px;
    text-align: center;
}

#home{
    width: 100%;
    height: 100vh;
}

.container_inicial{
    background-image: url(../img/fundo3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    justify-content:center;
    align-items: center;

}

.perfilSpan{
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}

.perfilH1{
    font-size: 70px;
    font-weight: bold;
    color: red;
}

.container_inicial img{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: solid 3px black;
    
}


#sobre{
    width: 100%;
    height: 100vh;
    background-color: black;
}